#{extends 'main.html' /}
#{set 'title'} Forgot Password #{/set}

<section class="cols cols4"> 
	<article class="col first"> &nbsp; </article>
	<article class="col col2" >
	
	#{form @Users.sendPasswordReset() }	
		<fieldset class="s_column">	
			<legend>Forgot Password</legend>
			#{if flash.error}
				<p class="error brdr">
					&{flash.error}
				</p>
			#{/if}
			#{if flash.success}
				<p class="success brdr">
					&{flash.success}
				</p>
			#{/if}        		
			<div>
				<label for="username" >Username #{ifError 'username'} <span class="error">#{error 'username' /}</span>   #{/ifError}</label>
				<input type="text" name="username" value="${flash.username}" class="shdw" /> 
			</div>	
			<input type="submit" value="Reset Password" class="button blue"/>
		</fieldset>
	#{/form}
	</article>

	<article class="col"> &nbsp; </article>
	
</section>