#{extends 'main.html' /}
#{set 'title'} Forgot Password #{/set}


<div class="row-fluid">
    <div class="span6 offset3">
        #{form @Users.sendPasswordReset(),class:'form-horizontal'}

        <div class="well">
            <fieldset>
                <legend>Forgot Password</legend>
                #{if flash.error}
                <p class="alert alert-error">
                    &{flash.error}
                </p>
                #{/if}
                #{if flash.success}
                <p class="alert alert-success">
                    &{flash.success}
                </p>
                #{/if}
                <div class="control-group">
                    <label class="control-label" for="username" >Username #{ifError 'username'} <span class="error">#{error 'username' /}</span>   #{/ifError}</label>
                    <div class="controls">
                        <input type="text" name="username" value="${flash.username}" placeholder="Username" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>
                </div>
            </fieldset>
        </div>
        #{/form}
    </div>
</div>