#{extends 'main.html' /}
#{set 'title'} Forgot Username #{/set}

<div class="row-fluid">
    <div class="span6 offset3">
        #{form @Users.sendUsername(), class:'form-horizontal'}

        <div class="well">
            <fieldset>
                <legend>Forgot Username</legend>
                #{if flash.error}
                <p class="alert alert-error ">
                    &{flash.error}
                </p>
                #{/if}
                #{if flash.success}
                <p class="alert alert-success">
                    &{flash.success}
                </p>
                #{/if}
                <div class="control-group">
                    <label class="control-label" for="email" >Email #{ifError 'email'} <span class="error">#{error 'email' /}</span>   #{/ifError}</label>
                    <div class="controls">
                        <input type="text" name="email" value="${flash.email}" placeholder="email@domain.com" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Get Username</button>
                    </div>
                </div>
            </fieldset>
        </div>
        #{/form}
    </div>
</div>