#{extends 'main.html' /}
#{set 'title'} Reset Password #{/set}

<section class="cols cols4"> 
	<article class="col first"> &nbsp; </article>
	<article class="col col2" >
	
	#{form @Users.resetPassword(user.username) }	
		<fieldset class="s_column">	
			<legend>Reset Password</legend>
			#{if flash.error}
				<p class="error brdr">
					&{flash.error}
				</p>
			#{/if}
			#{if flash.success}
				<p class="success brdr">
					&{flash.success}
				</p>
			#{/if}        		
			
			<div>
				<label for="password" >Password #{ifError 'password'} <span class="error">#{error 'password' /}</span>  #{/ifError}</label>
				<input type="password" name="password" class="shdw"/> 
			</div>
			<div>
				<label for="pwConfirm" >Password confirmation #{ifError 'pwConfirm'} <span class="error">#{error 'pwConfirm' /}</span>  #{/ifError}</label> 
				<input type="password" name="pwConfirm" class="shdw"/>  
			</div>		
			<input type="submit" value="Reset Password" class="button blue"/>
		</fieldset>
	#{/form}
	</article>

	<article class="col"> &nbsp; </article>
	
</section>