#{extends 'main.html' /}
#{set 'title'} Reset Password #{/set}

<div class="row-fluid">
    <div class="span6 offset3">

        #{form @Users.resetPassword(user.username) }

        <div class="well">
            <fieldset>
                <legend>Reset Password</legend>
                #{if flash.error}
                <p class="alert alert-error">
                    &{flash.error}
                </p>
                #{/if}
                #{if flash.success}
                <p class="alert alert-success">
                    &{flash.success}
                </p>
                #{/if}

                <div  class="control-group">
                    <label class="control-label" for="password" >Password #{ifError 'password'} <span class="error">#{error 'password' /}</span>  #{/ifError}</label>
                    <div class="controls">
                        <input type="password" name="password" placeholder="New Password"/>
                    </div>
                </div>
                <div class="control-group">
                    <label  class="control-label" for="pwConfirm" >Password confirmation #{ifError 'pwConfirm'} <span class="error">#{error 'pwConfirm' /}</span>  #{/ifError}</label>
                    <div class="controls">
                        <input type="password" name="pwConfirm" placeholder="New Password Confirm"/>
                    </div>
                </div>
                <div class="control-group">
                    <button type="submit" value="Reset Password" class="btn btn-primary"/>
                </div>
            </fieldset>
        </div>
        #{/form}
    </div>
</div>