<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>${play.configuration['application.name']} | #{get 'title' /}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="@{'/public/css/bootstrap.or.css'}" rel="stylesheet">
    <link href="@{'/public/css/bootstrap-responsive.css'}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="@{'/public/img/favicon.png'}">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    #{a @Application.index(), class:'brand'}${play.configuration['application.name']}#{/a}
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active">#{a @Application.index()}Home#{/a}</li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <span class="navbar-text pull-right">
                            #{if session.get('username')}
                            Welcome #{a @UsersSecure.dashboard(), class:'navbar-link'}${session.get('username')}#{/a}( #{a @UsersSecure.edit()}Edit#{/a} ) |
                            #{a @Secure.logout(), class:'navbar-link'}Logout#{/a}
                            #{/if}
                            #{else}
                            #{a @Secure.login(), class:'navbar-link'}Login#{/a} |
                            #{a @Users.register(), class:'navbar-link' }Register#{/a}
                            #{/else}
                        </span>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">

        <section>
            #{doLayout /}
        </section>

        <hr>
        <footer>
            <summary>
                &copy; ${new Date().format("yyyy")} ${play.configuration['application.name']} #{a
                @Application.index()}@@{Application.index}#{/a}
            </summary>
            <p>
                #{a @Application.privacy()}Privacy Policy#{/a} | #{a @Application.terms()}Terms of Service#{/a}
            </p>
        </footer>
    </div>

    <script src="@{'/public/js/jquery-1.8.3.min.js'}"></script>
    <script src="@{'/public/js/bootstrap.min.js'}"></script>

</body>
</html>
